dlls/.vs/grave_bot/v15/ipch/AutoPCH/GRAVE_BOT-f2e6ddcc/H_EXPORT-8abb8d3/H_EXPORT.ipch
dlls/.vs/grave_bot/v15/Browse.VC.opendb
dlls/.vs/grave_bot/v15/Browse.VC.db
dlls/.vs/grave_bot/v15/.suo
*.o
*.so
*.map
